*{
    margin: 0px;
    padding: 0px;
}
.DetailBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ImgBox{
    width: 60vh;
    height: 50vh;
}
.DetailText{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color:rgb(230, 236, 241);
    background-color: rgba(0,0,0,0.5);
}


@media (min-width: 600px){
    .DetailBox{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0px;
        transition: transform 500ms ease;
    }
    .DetailBox:hover{
        transform: scale(0.95);
    }
    .ImgBox{
        width: 50vh;
        height: 50vh;
        margin: 1%;
    }
    .DetailText{
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}