*{
    margin: 0px;
    padding: 0px;
}
.ContainerCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.TitleCart{
    width: 100%;
    margin: 2%;
}
.EachItemContainer{
    display: flex;
    flex-direction: column;
}
.CartItemConatiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
}
.CartDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2%;
    border: 0.5px solid rgb(228, 227, 227);
}
.CartImg{
        width: 100%;
        height: 50vh;
}
.CartText{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    color:rgb(3, 3, 3);
}
.ButtonRemove{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    padding: 2%;
    font-size: 1.1em;
    color: aliceblue;
    background-color: rgb(41, 44, 47);
    border: 1px solid rgb(41, 44, 47);
    border-radius: 3px;
}
.ButtonRemove:hover{
    background-color: aliceblue;
    color: rgb(41, 44, 47);
}

@media (min-width: 600px){

    .EachItemContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
    }
    .CartItemConatiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .CartDetail{
        width: 100%;
        display: flex;
        margin: 1%;
        padding: 2%;
    }
    .CartDetail:hover{
        box-shadow: 0 0 3px #515151;
    }
    .CartImg{
        width: 100%;
        height: 30vh;
    }
}
    