.EachItemContainer{
    display: flex;
    justify-content: space-around;
}
.CartItemConatiner{
    margin: 6%;
}
.ButtonClean{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    padding: 2%;
    font-size: 1.1em;
    color: aliceblue;
    background-color: rgb(41, 44, 47);
    border: 1px solid rgb(41, 44, 47);
    border-radius: 3px;
}
.ButtonClean:hover{
    background-color: aliceblue;
    color: rgb(41, 44, 47);
}
@media (min-width:600px) {
    .ContainerCart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .EachItemContainer{    
        display: flex; 
        width: 100%;
        flex-direction: row;
    }
    .CartItemConatiner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ButtonClean{
        width: 20%;
        height: 5vh;
    }
    
}