*{
    margin: 0px;
    padding: 0px;
    
}
.cartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 44, 47);
    width: 30%;

}   
.cart{
        color: aliceblue;
        font-size: 1.2em;
        position: relative;
        left: 5px;
        
    }
.TotalItems{
    position: relative;
    right: -6px;
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 1;
    background-color: aliceblue;
}

