*{
    margin: 0px;
    padding: 0px;
}
.containerItemBox{
    width: 100%;
    margin: 0px;
    padding: 2%;
}
h3{
    width: 90%;
    margin: 2%;
}
.containerItem{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 600px){
    .containerItemBox{
        display: flex;
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
        display: flex;
    }
    .containerItem{
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 33%;
    }
    .itemProduct{
        width: 30%;
    }
}