*{
    margin: 0px;
    padding: 0px;
}
.containerItemBox{
    margin: 0px;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containerItem{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}