.contact-form{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 8%;
    align-items: center;
}
.contact-form input{
    width: 50%;
    margin-bottom: 2%;
}
.contact-form label{
    width: 50%;
}
.contact-form textarea{
    width: 50%;
    margin: 2% 0%;
}