*{
    margin: 0px;
    padding: 0px;
}
.itemDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.ItemImgContainer{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 2%;
}
.ItemImg{
        width: 100%;
        height: 50vh;
}


@media (min-width: 600px){}
    