*{
    margin: 0px;
    padding: 0px;
}
.itemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.ItemImg{
        width: 80%;
        height: 50vh;
}
.ItemText{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 40px;
    color:rgb(230, 236, 241);
    background-color: rgba(0,0,0,0.5);
}


@media (min-width: 600px){
    .Container{
        display: flex;
        justify-content: space-around;
    }
    .itemDetail{
        width: 80%;
        display: flex;
        margin: 2px;
        transition: transform 500ms ease;
    }
    .itemDetail:hover{
        transform: scale(1.05);
    }
    .ItemImg{
        width: 100%;
        height: 30vh;
    }
    .ItemText{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        bottom: 40px;
    }
    
}
    